/build
/data
/src/.main.cpp.swp
/.Justfile.swp
/data_old
/src/.fitness.cpp.swp
/build2/
/build_bench/
/perf.data
/.train.py.swp
/running6.pop
/running5.pop
/running4.pop
/running3.pop
/running2.pop
/running.pop
/research.txt
/one.pop
/bigun_pop.pop
